.section
  .container
    %h3.title.is-3 Add Question
    = simple_form_for([@deck, @question], html: { id: "new_question_form" }) do |f|
      .error
        = f.error_notification
      .error
        = f.error :base
      .field
        .control
          = f.input :text, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }
      .field
        .control
          = f.input :description, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }
      .field
        .control   
          %label.radio
            %input{type: "radio", name: "question[question_type]", value: 0, checked: "checked" }
            Multiple Choice
          %label.radio
            %input{type: "radio", name: "question[question_type]", value: 1 }
            Multiple Answer
          %label.radio
            %input{type: "radio", name: "question[question_type]", value: 2 }
            True/False
          %label.radio
            %input{type: "radio", name: "question[question_type]", value: 3 }
            Written
      %br/
      - if @question.answers.present?
        - @question.answers.each_with_index do |answer, index|
          .field.answer
            .control
              %label.label 
                = "Answer #{index + 1}:"
              %input{class: "input", type: "text", name: "question[answers_attributes][#{index}][text]", value: answer.text, |
                id: "answer_text_#{index}"  }
              %label.radio
                %input{type: "radio", name: "question[answers_attributes][#{index}][truth_value]", value: "true", |
                  id: "answer_true_#{index}", checked: answer.truth_value == true || nil }
                True
              %label.radio
                %input{type: "radio", name: "question[answers_attributes][#{index}][truth_value]",  value: "false", |
                  id: "answer_false_#{index}", checked: answer.truth_value == false || nil }
                False
      - else
        .field.answer
          .control
            %label.label Answer 1:
            %input{class: "input", type: "text", name: "question[answers_attributes][0][text]", id: "answer_text_0" }
            %label.radio
              %input{type: "radio", name: "question[answers_attributes][0][truth_value]", value: "true", id: "answer_true_0" }
              True
            %label.radio
              %input{type: "radio", name: "question[answers_attributes][0][truth_value]",  value: "false", id: "answer_false_0" }
              False

      %a#add_answer.button Add Answer
      = f.button :submit, "Create Question", class: "button is-primary"

