.section
  .container
    - content_for :main_heading do
      = "Add Question"
    %h4.title.is-4
      = "Deck: #{@deck.title}"
    = render "form", deck: @deck, question: @question
.section
  .container
    = link_to "< Back to Decks", decks_path
