= simple_form_for(@quiz) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .field
    .control
      = f.input :title, required: true, input_html: { class: "input" }, wrapper: false
  .field
    .control
      = f.input :description, required: true, input_html: { class: "input" }, wrapper: false
  %h4.title.is-4 Select Decks
  = f.association :decks, as: :check_boxes,  collection: current_user.active_decks, item_wrapper_tag: false, wrapper: false, |
    label: false, input_html: { class: "deck_check_box"}, item_label_class: "checkbox label"
  .form-actions
    = f.button :submit, class: "is-primary button"
