.section
  .container
    %h2.title.is-2 Your Quizzes
    - if @quizzes.any?
      - @quizzes.each do |quiz|
        .content.quiz{id: "quiz_#{quiz.id}"}
          .card
            %header.card-header
              %p.card-header-title
                = quiz.title
              = link_to "#" do
                %span.icon
                  %i.fas.fa-angle-down
            .card-content
              .content
                = quiz.description
              .content
                - if quiz.decks.any?
                  Decks:
                  = safe_join(quiz.decks.map { |d| link_to d.title, deck_questions_path(d)  }, ", ".html_safe)
                - else
                  This quiz has no decks.
                  = link_to "Add a deck!", edit_quiz_path(quiz)
            %footer.card-footer
              = link_to "Edit", edit_quiz_path(quiz), class: "card-footer-item"
              - if quiz.questions.any?
                = simple_form_for(quiz, method: :post, url: attempts_path, html: { class: "card-footer-item" } ) do |f|
                  = f.input :id, as: :hidden, wrapper: false
                  = f.submit "Take Quiz", class: "link-button"
              - else 
                = link_to "Manage Decks", decks_path, class: "card-footer-item"
              = link_to "Delete", quiz, method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item"
    - else
      .content
        %p You currently have no quizzes.
    .content
      = link_to "New Quiz", new_quiz_path, class: "button is-primary"
