.section
  .container
    %h4.title.is-4
      = @problem.question.text
    = simple_form_for([@attempt, @problem], method: :put) do |f|
      = f.error_notification class: "error", message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      - @problem.choices.each.with_index do |choice, index|
        = render Rails.configuration.x.question_type.key(@problem.question_type).to_s.downcase, index: index, choice: choice
      = f.button :submit, "Submit Answer", class: "button is-primary"
