.section
  .container
    %h4.title.is-4
      = @problem.question.text
    = simple_form_for([@problem.attempt, @problem], method: :put) do |f|
      = f.error_notification class: "error", message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
      = f.input :submitted_answer, as: :hidden, input_html: { value: "" }, wrapper: false
      - @problem.question.choices.each.with_index do |choice, index|
        .content
          %label.radio
            %input{type: "radio", name: "problem[submitted_answer]", value: choice.id }
            = "#{index + 1}."
            = choice.text 
      = f.button :submit, "Submit Answer", class: "button is-primary"
