%section.section
  .container 
    .columns.is-centered
      .column.is-4
        %h2.title.is-2 Forgot your password?
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          .field 
            .control
              = f.input :email, required: true, autofocus: true, input_html: { autocomplete: 'email', class: 'input' }, |
                label_html: { class: 'label' }, wrapper: false
          = f.button :submit, 'Send me reset password instructions', class: 'button is-primary'
        = render 'devise/shared/links'
