.section
  .container
    %h3.title.is-3 Statistics
    %table.table 
      %thead
        %tr
          %th
            Quiz Name
          %th
            Status
          %th
            Score
          %th
            Percent
      %tfoot
        %tr
          %th
            Quiz Name
          %th
            Status
          %th
            Score
          %th
            Percent
      %tbody
        - @attempts.each do |attempt|
          %tr
            %td
              = attempt.title
            %td
              = status(attempt.finished_problems.length, attempt.problems.length)
            %td
              = "#{attempt.correct_problems.length}/#{attempt.finished_problems.length}"
            %td
              = "#{percent(attempt.correct_problems.length, attempt.finished_problems.length)}%"
