.section
  .container
    %h3.title.is-3 Statistics
    %table.table 
      %thead
        %tr
          %th Quiz Name
          %th Status
          %th Score
          %th Percent
      %tfoot
        %tr
          %th Quiz Name
          %th Status
          %th Score
          %th Percent
      %tbody
        - @attempts.each do |attempt|
          %tr{id: "attempt_#{attempt.id}"}
            %td
              - if attempt.is_finished
                = attempt.title
              - else
                = link_to(attempt.title, attempt_problem_path(attempt, attempt.finished_problems.length + 1))
            %td
              = status(attempt.is_finished)
            %td
              = "#{attempt.correct_problems.length}/#{attempt.finished_problems.length}" if attempt.is_finished
            %td
              = "#{percent(attempt.correct_problems.length, attempt.finished_problems.length)}%" if attempt.is_finished
