.section
  .container
    - content_for :main_heading do
      = "Your Decks"
    - if @decks.any?
      - @decks.each do |deck|
        .content{id: "deck_#{deck.id}", class: "deck"}
          .card
            %header.card-header
              %p.card-header-title
                = deck.title
              = link_to "#" do
                %span.icon
                  %i.fas.fa-angle-down
            .card-content
              .content
                = deck.description
            %footer.card-footer
              = link_to "Edit Details", edit_deck_path(deck), class: "card-footer-item"
              = link_to "Manage Questions", deck_questions_path(deck), class: "card-footer-item"
              = link_to "Delete", deck, method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item"
      = link_to "Add Deck", new_deck_path, class: "button is-primary"
    - else
      .content
        %p You currently have no decks.
      .content
        = link_to "Add Deck", new_deck_path, class: "button is-primary"


