.section
  .container
  - if @decks.any?
    %h2.title.is-2 Your Decks
    - @decks.each do |deck|
      .content
        .card
          %header.card-header
            %p.card-header-title
              = deck.title
            = link_to "#" do
              %span.icon
                %i.fas.fa-angle-down
          .card-content
            .content
              = deck.description
          %footer.card-footer
            = link_to "View", deck, class: "card-footer-item"
            = link_to "Edit", edit_deck_path(deck), class: "card-footer-item"
            = link_to "Delete", deck, method: :delete, data: { confirm: "Are you sure?" }, class: "card-footer-item"
    = link_to "Add Deck", new_deck_path, class: "button is-primary"
  - else
    .content
      %p You currently have no decks.
    .content
      = link_to "Add Deck", new_deck_path, class: "button is-primary"


