- if @decks.any?
  %h2 Your Decks
  - @decks.each do |deck|
    %p
      = deck.title
    %p
      = deck.description
    %p
      = link_to 'View Deck Details', deck
    %p
      = link_to 'Edit', edit_deck_path(deck)
    %p
      = link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' }
  %br
- else
  %p You currently have no decks.
= link_to 'Add Deck', new_deck_path, class: "button is-primary"


